@model SalehVMPartialView.Models.Person

<tr>
    <td>
        @Html.DisplayFor(Model => Model.Id)
    </td>
    <td>
        @Html.DisplayFor(Model => Model.Name)
    </td>
    <td>
        @Html.DisplayFor(Model => Model.City)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </td>
</tr>